.book-card {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0px 0px 4px 1px grey;
  .field-1{
      display: flex;
    .img-style {
        width: 15%;
        float: right;
        max-width: 85px;
        text-align: right;
        margin-left: 15px;
      }
      .h4-style {
        width: 80%;
        float: left;
        margin-top: 0;
      }
  }
  .field-2 b {
    display: block;
    margin-bottom: 5px;
  }
}

.f-weight-normal {
  font-weight: normal;
}


