mat-grid-tile {
  background: lightslategrey;
}
::ng-deep figure.mat-figure {
  padding: 5px !important;
  display: block !important;
  img {
    width: 15%;
    float: left;
    max-width: 70px;
    margin-left: 15px;
  }

  h4 {
    margin: 5px 0;
    width: 80%;
    float: left;
  }

  .field-1 {
    width: 100%;
    float: left;
    margin-bottom: 10px;
  }

  .field-2 {
      font-size: 16px;
      font-family: monospace;
      .m-0 {
        margin: 0;
    }
  }
}
