<form style="margin:15px" #SearchForm="ngForm" (ngSubmit)="searchSubmit()">
    <mat-form-field appearance="outline">
        <mat-label>Search Book</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="searchTerm" name="searchTerm">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>

<div class="flex" style="margin: 15px;">
    <div class="flex-boxes" *ngFor="let book of booksList" (click)="navigateToDetailsPage(book)">
        <book-store-item-card [cardDetails]="book" [parentType]="'search'" (clickedCard)="return"></book-store-item-card>
    </div>
</div>