.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-boxes {
  background: lightblue;
  flex-basis: 48%;
  margin: 1%;
  cursor: pointer;
}

p.error {
  text-align: center;
  color: red;
  border: 1px solid;
  padding: 15px;
  margin: 15px;
}