.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-boxes {
  background: lightblue;
  position: relative;
  flex-basis: 48%;
  margin: 1%;
  .field-1 {
    display: flex;
    margin: 10px;

    img {
      width: 15%;
      max-width: 70px;
    }

    h4 {
      margin: 5px 0;
      width: 85%;
    }
  }
  .field-2 {
    font-size: 16px;
    margin: 10px;
    font-family: monospace;
    .m-0 {
      margin: 0;
    }
  }
  .position {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  span.material-icons.position {
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
  }

  span.material-icons.position:hover {
    color: saddlebrown;
    background: white;
  }
}
.example-button-row {
  width: 100%;
  margin: 10px;
  text-align: right;
}
