<div class="flex" style="margin: 15px;">
    <div class="flex-boxes" *ngFor="let book of booksList" (click)="openPreviewLink(book?.volumeInfo?.previewLink)">
        <div class="field-1">
            <h4>  {{book?.volumeInfo?.title}} </h4>
            <img [src]="book?.volumeInfo?.imageLinks?.smallThumbnail">
        </div>
        <div class="field-2">
            <p>{{getDescription(book)}}</p>
            <b class="m-0">Written By:</b>
            <p class="m-0">{{book?.volumeInfo?.authors?.toString()}}</p>
        </div>
    </div>  
</div>