<section class="billind-card">
    <mat-grid-list cols="2" rowHeight="460px">
        <mat-grid-tile>
            <span class="material-icons">
                receipt_long
            </span>
        </mat-grid-tile>
        <mat-grid-tile>
            <form [formGroup]="billingForm" (ngSubmit)="addBillingInfoAndSaveItemsToCollection()">
                <h4> Billing Details</h4>
             <mat-form-field appearance="fill">
                <mat-label>Your Name</mat-label>
                <input matInput placeholder="your name" formControlName="name">
                <mat-error *ngIf="billingForm.get('name').invalid">Invalid input</mat-error>
              </mat-form-field>
             <mat-form-field appearance="fill">
                <mat-label>Your Email</mat-label>
                <input matInput placeholder="pat@example.com" formControlName="email" required>
                <mat-error *ngIf="billingForm.get('email').invalid">Invalid input</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Your phone number</mat-label>
                <input matInput placeholder="1231231234" formControlName="phone" required>
                <mat-error *ngIf="billingForm.get('phone').invalid">Invalid input</mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Your Address</mat-label>
                <input matInput placeholder="address" formControlName="address" required>
                <mat-error *ngIf="billingForm.get('address').invalid">Invalid input</mat-error>
              </mat-form-field>
              <div class="example-button-row">
                  <button mat-raised-button color="accent">Submit</button>
               </div>
            </form>
        </mat-grid-tile>
    </mat-grid-list>
</section>